@model Quotation


<form method="post">
    <input asp-for="QuotationId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Update Quotation @Model.QuotationId
            </h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <select asp-for="SupplierId" class="form-control">
                <option value="">Select Supplier</option>
                @foreach (Supplier supplier in ViewBag.Suppliers)
                {
                    <option value="@supplier.Id">@supplier.Id - @supplier.Name</option>
                }
            </select>
            <span asp-validation-for="SupplierId" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Product" class="p-0"></label>
            <input asp-for="Product" class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="CostPerUnit" class="p-0"></label>
            <input asp-for="CostPerUnit" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Quotation" asp-action="Index" class="btn btn-outline-secondary form-control">Back</a>
            </div>
        </div>
    </div>

</form>
