@model Quotation


<form method="post">
    <input asp-for="QuotationId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Quotation @Model.QuotationId
            </h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <label for="SupplierId" class="p-0">Supplier</label>
            <select disabled asp-for="SupplierId" class="form-control">
                <option value="">@Model.SupplierId</option>
            </select>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Product" class="p-0"></label>
            <input disabled asp-for="Product" class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="CostPerUnit" class="p-0"></label>
            <input disabled asp-for="CostPerUnit" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Quotation" asp-action="Index" class="btn btn-outline-secondary form-control">Back</a>
            </div>
        </div>
    </div>

</form>
