@* @model CompositeSupplierQuotation


<form method="post">
    <input asp-for="Quotation.QuotationId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Update Quotation
            </h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <label for="SupplierId" class="p-0">Supplier</label>
            <select asp-for="Quotation.SupplierId" asp-items="Model.Suppliers.Select(s => new SelectListItem { Value = s.Id.ToString(), Text = s.Name })" class="form-control">
                <option value="">Select Supplier</option>
            </select>
            <span asp-validation-for="Quotation.SupplierId" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Quotation.Product" class="p-0"></label>
            <input asp-for="Quotation.Product" class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Quotation.CostPerUnit" class="p-0"></label>
            <input asp-for="Quotation.CostPerUnit" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Quotation" asp-action="Index" class="btn btn-outline-secondary form-control">Back</a>
            </div>
        </div>
    </div>

</form>
 *@