@model DbSupplier


<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Update Supplier
            </h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Email" class="p-0"></label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="CountryCode" class="p-0"></label>
            <input asp-for="CountryCode" class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="DateCreated" class="p-0"></label>
            <input asp-for="DateCreated" class="form-control" type="date" />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
        </div>
    </div>

</form>